
.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}
body{
    background: url(img/b25.png) repeat;
}
body > .container{
    padding-top: 60px;
}

.push {

    height: 60px;
}
.text-muted{
    margin: auto;
}
footer{
    text-align: center;

}
footer > div{
    padding-top: 15px;
}