<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assignment: {{ session.student.0 }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">University Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="home">Home</a></li>
            <li><a href="contact_us">Contact Us</a></li>
            <li><a href="about_us">About Us</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span> {{ session.student.0 }} <span class="caret"/></a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/update_password">Update Password</a></li>
                </ul>
            </li>

            <li><a href=" logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#due">Due</a></li>
                <li><a data-toggle="tab" href="#sub">Submitted</a></li>
                <li><a data-toggle="tab" href="#all">All</a></li>
            </ul>

            <div class="tab-content">
                <div id="due" class="tab-pane fade in active">
                    <h3>Due Assignments </h3>
                    {% if due_assignments %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Assignment</th>
                                <th>Due date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for aid in due_assignments %}
                                <tr>
                                    <td>{{ aid }}</td>
                                    <td>Date</td>
                                    <td>
                                        <form action="assignment_submit">
                                            Select file: <input type="file" name="assign_file"><input type="submit">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No Due Assignments! Enjoy the day!</p>
                    {% endif %}
                </div>

                <div id="sub" class="tab-pane fade">
                    <h3>Submitted Assignments</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Date Submitted</th>
                            <th>Grade</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for aid, dos, g in submitted_assignments %}
                            <tr>
                                <td>{{ aid }}</td>
                                <td>{{ dos }}</td>
                                <td>{{ d }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div id="all" class="tab-pane fade">
                    <h3>All Assignments</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Grade</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value, grade in all_assignments %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
</body>

</html>