<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assignment: {{ session.student.0 }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/Style.css"/>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">University Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="home">Home</a></li>
            <li><a href="contact_us">Contact Us</a></li>
            <li><a href="about_us">About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span> {{ session.student.0 }} <span class="caret"/></a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/update_password">Update Password</a></li>
                </ul>
            </li>

            <li><a href=" logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#due">Due</a></li>
                <li><a data-toggle="tab" href="#sub">Submitted</a></li>
                <li><a data-toggle="tab" href="#all">All</a></li>
            </ul>

            <div class="tab-content">
                <div id="due" class="tab-pane fade in active">
                    <h3>Due Assignments </h3>
                    {% if due_assignments %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Assignment</th>
                                <th>Due date</th>
                                <th>Submit</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for aid, fid, deadline in  due_assignments %}
                                <form action="assignment_submit" method="post"
                                      enctype="multipart/form-data">{% csrf_token %}
                                    <input type="hidden" name="file" value="{{ aid }}_{{ session.student.1 }}"/>
                                    <input type="hidden" name="aid" value="{{ aid }}"/>
                                    <input type="hidden" name="sid" value="{{ session.student.1 }}"/>
                                    <tr>
                                        <td>{{ aid }}</td>
                                        <td>{{ deadline }}{{ grade }}</td>
                                        <td>
                                            <span class="btn btn-default btn-file">
                                                <input type="file" name="assign_file" enctype="multipart/form-data">
                                            </span>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-xs btn-info">
                                            <span class="glyphicon glyphicon-send" data-toggle="tooltip"
                                                  title="Submit"></span>&nbsp;
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No Due Assignments! Enjoy the day!</p>
                    {% endif %}
                </div>

                <div id="sub" class="tab-pane fade">
                    <h3>Submitted Assignments</h3>
                    {% if submitted_assignments %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Assignment</th>
                                <th>Date Submitted</th>
                                <th>Grade</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for aid, dos, grade in submitted_assignments %}
                                <tr>
                                    <td>{{ aid }}</td>
                                    <td>{{ dos }}</td>
                                    <td>{{ grade }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Oh! No submitted assignments!</p>
                    {% endif %}
                </div>

                <div id="all" class="tab-pane fade">
                    <h3>All Assignments</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Deadline</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for aid, fid, deadline in all_assignments %}
                            <tr>
                                <td>{{ aid }}</td>
                                <td>{{ deadline }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <span class="text-muted">University Portal developed in course of ITCS6112.</span>
    </div>
</footer>
</body>

</html>