<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome: {{ session.student.0 }} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/Style.css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">University Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="home">Home</a></li>
            <li><a href="contact_us">Contact Us</a></li>
            <li><a href="about_us">About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span> {{ session.student.0 }} <span class="caret"/></a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/update_password">Update Password</a></li>
                </ul>
            </li>
            <li><a href=" logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-7">
                    <h2>Hi, {{ session.student.0 }}!<br/>
                        <small>Welcome to the {{ session.student.3 }} semester.</small>
                    </h2>
                    <h4>What are you up to today?</h4>
                    <br>

                </div>
                <div class="col-sm-5">
                    <img src="static/img/profile.png" class="img-circle" alt="{{ names.1 }}" height="100" width="100"
                         style="float: right;"/>
                </div>
            </div>


            <h5>Your Courses</h5>

            <table class="table">
                <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Grades</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value, grades in session.courses %}
                    <tr>
                        <td>
                            <form action="/assignments_stu" method="GET">
                                <input type="submit" name="courseId" class="btn btn-link" value="{{ key }}"/>
                            </form>
                        </td>
                        <td>
                            {{ value }}
                        </td>
                        <td>
                            {{ grades }}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <span class="text-muted">University Portal developed in course of ITCS6112.</span>
    </div>
</footer>
</body>
</html>