<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile: {{ session.faculty.1 }} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/Style.css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">University Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="home">Home</a></li>
            <li><a href="contact_us">Contact Us</a></li>
            <li><a href="about_us">About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span> {{ session.faculty.1 }} <span class="caret"/></a>
                <ul class="dropdown-menu">
                    <li><a href="/update_password">Update Password</a></li>
                </ul>
            </li>
            <li><a href=" logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h2>Hi, {{ session.faculty.1 }}!</h2>
            <h4>Your Profile! </h4>
            <br><br>
            {% if updated %}
                <div class="form-group">
                    <div class="alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <strong>Done!</strong> Profile updated.
                    </div>
                </div>
            {% elif not updated and updated is not None %}
                <div class="form-group">
                    <div class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <strong>Oops!</strong> Something went wrong.
                    </div>
                </div>
            {% endif %}
            <form action="/fac_profile_update" method="POST" class="form-horizontal">{% csrf_token %}
                <input type="hidden" name="update" value="profile"/>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fac1_ID">Faculty
                        ID:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="fac_ID" name="fac_ID"
                               value="{{ session.faculty.0 }}" disabled>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="FacPhNo">Phone:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="FacPhNo" name="FacPhNo"
                               value="{{ session.faculty.2 }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fac_email">Email:</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="fac_email" name="fac_email"
                               value="{{ session.faculty.5 }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fac_office">Office:</label>
                    <div class="col-sm-6">
							<textarea class="form-control" id="fac_office" name="fac_office"
                            >{{ session.faculty.3 }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>

            </form>

        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <span class="text-muted">University Portal developed in course of ITCS6112.</span>
    </div>
</footer>
</body>
</html>