<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ session.faculty.1 }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-center" href="#">University Portal</a>
        </div>
        <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home">Home</a></li>
                <li><a href="contact_us">Contact Us</a></li>
                <li><a href="about_us">About Us</a></li>
            </ul>
        </div>
        <div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> &nbsp{{ session.faculty.1 }} <span
                        class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/update_password">Update Password</a></li>
                    </ul>
                </li>
                <li><a href=" logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-7">
                <h2>Hi, {{ session.faculty.1 }}!</h2>
                <h4>How are you doing today?</h4>
                <br>

            </div>
            <div class="col-sm-5">
                <img src="static/img/icon.jpg" class="img-circle" alt="{{ names.1 }}" height="100" width="100"
                    style="float: right;" />
            </div>
        </div>
        <div class="row">
            <h5>Your Courses</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Semester</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value, sem in session.courses %}
                    <tr>
                        <td>
                            <form action="assignments" method="GET">
                                <input type="submit" name="CourseID" class="btn btn-link" value="{{ key }}"/>
                            </form>
                        </td>
                        <td>{{ value }}</td>
                        <td>{{ sem }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-3">

    </div>
</div>

</body>