<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">University Portal</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ session.username }} </a></li>
        <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        All Assignments
        <table class="table">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Grade</th>
                     </tr>
                </thead>
                 <tbody>
                 {% for key, value in assignments %}
                     <tr>
                         <td>{{session.assignments}}{{key}}</td> <td>{{ value }}</td>
                     </tr>
                 {% endfor %}
                 </tbody>
            </table>
        Due Assignments
        <table class="table">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Date Submitted</th>
                        <th>Grade</th>
                     </tr>
                </thead>
                 <tbody>
                 {% for aid, dos, g in submitted_assignments %}
                     <tr>
                         <td>{{aid}}</td> <td>{{ dos }}</td><td>{{ d }}</td>
                     </tr>
                 {% endfor %}
                 </tbody>
            </table>


        Submitted Assignments
        <table class="table">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Date Submitted</th>
                        <th>Grade</th>
                     </tr>
                </thead>
                 <tbody>
                 {% for aid, dos, g in submitted_assignments %}
                     <tr>
                         <td>{{aid}}</td> <td>{{ dos }}</td><td>{{ d }}</td>
                     </tr>
                 {% endfor %}
                 </tbody>
            </table>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

</body>
</html>